
@{
    ViewBag.Title = "DisplayCnic";
    Layout = "~/Views/shared/_Layout.cshtml";
}
<head>
    <style>
        .hd {
            text-align: left;
        }

            .hd::before {
                content: "";
                display: inline-block;
                width: .2rem;
                height: 1.4rem;
                border-radius: 2rem;
                background-color: #85cd98;
                margin: 0rem 1rem;
                padding-bottom: 1.3rem;
                margin-bottom: -.3rem;
            }

        .btn-success {
            color: #359760;
            border-color: #28a745;
            background-color: #ffffff !important;
        }
    </style>
</head>
<div class="container mt-5">
    <div class="row justify-content-center">
        <div class="col-md-6">
            <div class="card">
                <div class=" text-center p-3">
                    <h4 class="hd">Please Enter Your Cnic Number </h4>
                </div>
                <div class="card-body">
                   
                </div>
            </div>
        </div>
    </div>
</div>
